<%= render 'shared/errors', obj: @post %>
<%=form_for obj do |f| %>
    <div class='control-group'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <br/>

    <div class='control-group'>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <br/>

    <div class='control-group'>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>
    </div>
    <br/>

    <div class='control-group'>
      <%= f.label :youtube_video_id %>
      <%= f.text_field :youtube_video_id%>
    </div>
    <br/>

    <div class='control-group'>
      <%= f.label "Categories" %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
      <%= cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>

    <div class='control-group'>
      <%= f.label "Upload Image" %>
      <%= f.file_field :pic %>
    </div>

    <%= f.submit(obj.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>
<%end%>