<% header=(link_to 'All Posts', posts_path) + " &raquo; #{@category.name}".html_safe%>
<%= render '/shared/content_title', title: header %>

<% @category.posts.each do |post| %>
    <div class='row'>
      <div class='span0 well text-center'>
        <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
            <i class='icon-arrow-up'></i>
        <% end %>
        </br>
        <%= post.total_votes%> votes
        </br>
        <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
            <i class='icon-arrow-down'></i>
        <% end %>
      </div>
      <div class='span8 well'>
        <% post.categories.each do |category| %>
            <% render 'category', category: category %>
        <%end%>
        <div class="text-center">
        <h4><%= link_to post.title, post.url %></h4>
        </div>
        <p><%= post.description %></p>
        <p>
          <span class='quiet'>posted by </span><%= post.creator.name %>
          <small>at <%=post.created_at%></small>
        </p>
        <small>
            <span>
              <%= link_to "#{post.comments.size} comments", post_path(post) %>
            </span>
        </small>
      </div>
      <div class="pull-right">
        [<%= link_to 'edit', edit_post_path(post) %>]
      </div>
    </div>
<% end %>